@* Generator: MvcHelper GeneratePrettyNames : true *@

@helper WriteList(this HtmlHelper helper, IEnumerable<string> list) {
    <ul>
    @foreach(var item in list) {
        <li>@item</li>
    }
    </ul>    
}