@* Generator: MvcView *@
@using PrecompiledMvcLibrary.Views.Shared

<h3>This is executing from disk.</h3>

@using (Html.BeginForm()) {
    
    <label>@Html.CheckBox("executePrecompiledEngineFirst") <strong>Precompiled view engine executes first</strong>&nbsp;</label>

    <input type="submit" value="Submit" />
    
}

@Html.ObjectInfo(this)

@RenderPage("~/Views/Shared/_ViewTypes.cshtml")