@using PrecompiledMvcLibrary.Views.Shared

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

<h2>
    I'm in an assembly!
</h2>

@Html.AntiForgeryToken()

@Html.ObjectInfo(this)

@Html.Partial("~/Views/Shared/_ViewTypes.cshtml")