@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @if (Context.Request.IsAuthenticated)
        {
            <div id="user-authenticated"></div>
        }
    </div>
</body>
</html>
