<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webPages:Version" value="2.0"/>
  </appSettings>
  <system.web>
    <!--
    This reference to `System.Data.Linq` is needed to fix MSBuild complaining that `System.Linq` is unavailable in the precompiled *.cs file for Default.cshtml (`App_Web_tz32unlz.0.cs`)
    See here: https://stackoverflow.com/questions/4019609/the-type-or-namespace-name-linq-does-not-exist-in-the-namespace-system-data/22873162#22873162 -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>