@* Generator : MvcView *@
@using PrecompiledMvcLibrary.Views.Shared
@{
    ViewBag.Title = "Home Page";
}

<h2>I found an error when I was returning a list using 'yield'</h2>
<p>
    @Html.ActionLink("Click on this link to view the error ", "Yield")
</p>