@* Generator: MvcHelper *@

@helper ObjectInfo(this HtmlHelper helper, object instance) {
    <p>
        @instance.GetType().Assembly 
        <br />
        @instance.GetType().FullName
    </p>
}