@{  
    Page.Title = "Welcome to my Web Site!";
}
<p>
    Helper from Precompiled Web Pages Library
</p>
@WebPagesHelperSample.PrintTime()

<p>
    Application part using Precompiled Web Pages
</p>
<a href="@Href("~/Sample/WebPagesSample")">Precompiled web page</a>