@* Generator: MvcHelperGenerator *@
@helper WriteList(this HtmlHelper helper, IEnumerable<string> items) {
    <ul>
        @foreach (var s in items) {
            <li>
                @s (From helper)
            </li>
        }
    </ul>
}
