@* Generator: WebPageGenerator *@
<p>
    <ul>
        <li>
            This precompiled page was served to you at @DateTime.Now
        </li>
        <li>
            <a href="@Href("@/WebPagesSample")">Hyperlinks</a> inside ApplicationParts can be rooted to the base virtual path that is registered.    
        </li>
        <li>
            Application parts can also serve embedded resources. For instance, this cake is not a lie: 
            <br />
            <img src="@Href("@/Images/Cake.jpg")" alt="Delicious chocolate cake - Courtesy Bakery Template, WebMatrix" />
        </li>
    </ul>
    <br />
</p>