<ul>
    <li>
        @Html.ActionLink("Home", "Index", "Home") 
    </li>
    <li>
        @Html.ActionLink("Precompiled In-App View", "InAppPrecompiled", "Home")
    </li>
        <li>
        @Html.ActionLink("Precompiled External View", "ExternalPrecompiled", "Home")
    </li>
</ul>    