@{
    ViewBag.Title = "Precompiled Razor test page";
}

<h2>@ViewBag.Message</h2>
<p>
    This page demonstrates the use of precompiled razor helpers
</p>

<p>Calling helper defined in the web app itself:</p>
@WebAppHelpers.WriteList(new [] { "Hello", "Razor" })
@WebAppHelpers.RenderAboutLink(Html)

<p>Calling helper defined in an external library:</p>
@LibraryHelpers.WriteList(new [] { "Hello", "Razor" })

